h1, h2{
    text-align: center;
    color: #FF1493;
    background-color: rgba(138, 43, 226, 0.65);
    margin-left: 200px;
    margin-right: 200px;
}

h1{
    padding-top: 10px;
    background-color: rgba(138, 43, 226, 0.85);
}

.div-txt{
    margin-left: 200px;
    margin-right: 200px;
    text-indent: 20px;
    background-color: rgba(0, 255, 255, 0.75);
}

p{
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

h5{
    background-color: rgba(0, 255, 255, 0.9);
}

.img-txt{
    width: 350px;
    padding-left: 50px;
    padding-top: 10px;
}

@media only screen and (max-width:1100px){
    h1{
        font-size: 6.25vh;
        margin-left: 80px;
        margin-right: 80px;
    }
    h2, .div-txt{
        margin-left: 80px;
        margin-right: 80px;
    }
    h5{
        margin-left: 80px;
        margin-right: 80px;
        padding-left: 20px;
    }
}

@media only screen and (max-width:800px){
    h1{
        font-size: 6.5vh;
    }
    h2{
        font-size: 5.75vh;
    }
    h1, h2, .div-txt, p{
        margin-left: 30px;
        margin-right: 30px;
    }
    p{
        padding-left: 10px;
        padding-right: 10px;
    }
    .img-txt{
        width: 200px;
        padding-left: 20px;
    }
}