*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p, ol{
    font-family: 'Livvic', sans-serif;
    font-size: 3vh;
}

h4{
    font-family: 'Lobster', cursive;
    font-size: 5.5vh;
}

h5{
    font-family: 'Dancing Script', cursive;
    font-size: 4.75vh;
    font-weight: bold;
}

h2{
    font-family: 'Courgette', cursive;
    font-size: 6.5vh;
}
h1{
    font-family: 'Chilanka', cursive;
    font-size: 8.5vh;
}

body{
    background-image: url("IMG/galeria/kitten-paw.jpg");
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #00BFFF;
    font-family: 'Varela Round', sans-serif;
    position: fixed;
    width: 100%;
}

.logo_menu{
    color: #363636;
    font-size: 22px;
    letter-spacing: 1.5px;
}

.links_menu{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.links_menu li{
    list-style: none;
}

.links_menu a{
    color: #9400D3;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 17px;
}

#button{
    display: none;
}

.main{
    padding-top: 50px;
}

@media only screen and (max-width:1100px){
    .main{
        padding-top: 100px;
    }
    .links_menu{
        width: 60%;
    }
}

@media only screen and (max-width:800px){
    .links_menu{
        width: 40%;
    }
    .main{
        padding-top: 50px;
    }
    #button{
        display: block;
    }
    .links_menu{
        display: none;
    }
    .links_menu a {
        padding: 12px 16px;
        text-decoration: none;
        display: grid;
      }
    .dropdown{
        background-color: #912CEE;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown:hover, .dropdown:focus {
        background-color: #7D26CD;
    }
    
    .show {
        display:block;
    }
    nav{
        position: fixed;
    }
}